@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4d4d4d;
}

.barMenu {
  font-size: 14px;
}
.barMenu a {
  color: #003087;
  margin-left: 20px;
}
.barMenu a:nth-last-child(1) {
  margin-left: 0;
}
.barMenu span {
  display: inline-block;
  width: 2px;
  height: 15px;
  background: #fe5000;
  margin: 0px 20px;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  color: #003087;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 105px;
  height: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 0px 0px 0px;
  z-index: 1;
  text-align: center;
  border: 1px solid #003087;
  border-radius: 20px;
  color: #003087;
}
.dropdown-content2 a {
  text-decoration: none;
}
.dropdown-content2:hover {
  color: #33599f;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.padXX {
  padding: 50px 0px;
}

.btn-primario-noborde {
  display: block;
  height: 40px;
  text-align: center;
  color: #003087;
  padding: 0px 0px;
  font-size: 17px;
  font-weight: bold;
}
.btn-primario-noborde a {
  margin-right: 10px;
}
.btn-primario-noborde a:hover {
  margin-right: 32px;
  -webkit-transition: margin-right 0.2s 0.1s;
  transition: margin-right 0.2s 0.1s;
}
.btn-primario-noborde i {
  color: #fe5000;
}
.btn-primario-noborde:hover {
  color: #33599f;
}
.btn-primario-noborde:active {
  border: 1px solid #fe5000;
  color: #33599f;
  padding: 0px 10px;
  -webkit-transition: padding 0.1s 0.1s;
  transition: padding 0.1s 0.1s;
}
.btn-primario-noborde:focus {
  outline: 0;
  box-shadow: none;
}
.btn-primario-noborde:target {
  border: 1px solid #fe5000;
  color: #33599f;
}

.btn-blanco-noborde {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .btn-blanco-noborde {
    font-size: 13px;
  }
}
.btn-blanco-noborde a {
  margin-right: 10px;
}
.btn-blanco-noborde a:hover {
  margin-right: 32px;
  -webkit-transition: margin-right 0.2s 0.2s;
  transition: margin-right 0.2s 0.2s;
}
.btn-blanco-noborde i {
  color: #ffffff;
}
.btn-blanco-noborde:hover {
  color: #ffffff;
}
.btn-blanco-noborde:active {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 0px 10px;
  -webkit-transition: padding 0.1s 0.1s;
  transition: padding 0.1s 0.1s;
}
.btn-blanco-noborde:focus {
  outline: 0;
  box-shadow: none;
}
.btn-blanco-noborde:target {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-primario {
  display: block;
  height: 40px;
  text-align: center;
  color: #003087;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #003087;
  margin-bottom: 10px;
}
.btn-primario:hover {
  color: #33599f;
}
.btn-primario:active {
  border: 1px solid #fe5000;
  color: #33599f;
}
.btn-primario:focus {
  outline: 0;
  box-shadow: none;
}
.btn-primario:target {
  border: 1px solid #fe5000;
  color: #33599f;
}

.btn-secundario-azul {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  background: #003087;
  border-radius: 50px;
  border: 2px solid #003087;
  margin-bottom: 10px;
}
.btn-secundario-azul:hover {
  background: #33599f;
  color: #ffffff;
  border: 2px solid #33599f;
}
.btn-secundario-azul:active {
  background: #ffffff;
  border: 2px solid #003087;
  color: #003087;
}
.btn-secundario-azul:focus {
  outline: 0;
  box-shadow: none;
}
.btn-secundario-azul:target {
  background: #ffffff;
  border: 2px solid #003087;
  color: #003087;
}

.btn-secundario-naranja {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  background: #fe5000;
  border-radius: 50px;
  border: 2px solid #fe5000;
}
.btn-secundario-naranja:hover {
  background: #fe7333;
  color: #ffffff;
  border: 2px solid #fe7333;
}
.btn-secundario-naranja:active {
  background: #ffffff;
  border: 2px solid #fe5000;
  color: #fe5000;
}
.btn-secundario-naranja:focus {
  outline: 0;
  box-shadow: none;
}
.btn-secundario-naranja:target {
  background: #ffffff;
  border: 2px solid #fe5000;
  color: #fe5000;
}

.btn-primario-disabled {
  display: block;
  height: 40px;
  text-align: center;
  color: #dadada;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 50px;
}

.btn-secundario-disabled {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  background: #dadada;
  border-radius: 50px;
  border: 2px solid #dadada;
}

.redes span a i {
  font-size: 30px;
  margin-right: 30px;
  color: #003087;
}

.pie {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: linear-gradient(166.01deg, #009CFF 10.94%, #24135F 76.04%, #FE5000 97.92%), #003087;
}

.nav-link {
  display: block;
  padding: 0px 15px;
}

.nav-pie {
  font-size: 10px !important;
  color: #ffffff !important;
  border-right: 1px solid #fff;
}

.border-right-none {
  border-right: none;
}

.menuIndex {
  z-index: 9999999;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
@media (min-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

@media (max-width: 900px) {
  .barMenu {
    display: none;
  }
}

.btnToggler .positionBtn {
  position: absolute;
  top: -68px;
  right: 25px;
}
@media (max-width: 500px) {
  .btnToggler .positionBtn {
    right: -15px;
  }
}

.navbar-light .navbar-toggler {
  color: #003087;
  border-color: transparent;
}

.navbar {
  padding: 0.5rem 0rem;
}
@media (max-width: 900px) {
  .navbar li a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #003087;
  font-weight: 400;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0rem 1rem;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #003087;
  background-clip: padding-box;
  border-radius: 0;
  border-top: 3px solid #fe5000;
  margin-top: 10px;
}
.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 1.5rem 0.5rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-bottom: 1px solid #33599f;
  margin: auto;
}
.dropdown-menu .dropdown-item:hover {
  color: #fe5000;
}

.cntr {
  display: table;
  width: 100%;
  height: 100%;
}

.cntr .cntr-innr {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.search {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #000000;
  border-radius: 30px;
  transition: all 200ms ease;
  cursor: text;
}

.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 10px;
  right: -5px;
  top: 21px;
  background: #000000;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-transform: rotate(-45deg);
  transition: all 200ms ease;
}

.search.active,
.search:hover {
  width: 200px;
  margin-right: 0px;
}

.search.active:after,
.search:hover:after {
  height: 0px;
}

.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}

.bannerB {
  display: block;
  height: 760px;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
}

.imgBanner {
  background-image: linear-gradient(122.76deg, rgba(0, 156, 255, 0.34) 2.9%, rgba(36, 19, 95, 0.34) 83.89%, rgba(254, 80, 0, 0.34) 100.78%);
  height: auto;
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.imgBanner .contenedor {
  display: block;
  z-index: 999;
  position: absolute;
}

.imgBlock {
  display: block;
  width: 100%;
  height: auto;
  z-index: 9997;
  clear: both;
  max-width: 100%;
  max-height: 100%;
}

.carousel-item {
  position: relative;
}
.carousel-item img {
  background-image: linear-gradient(122.76deg, rgba(0, 156, 255, 0.34) 2.9%, rgba(36, 19, 95, 0.34) 83.89%, rgba(254, 80, 0, 0.34) 100.78%);
}
.carousel-item .sobreIsa {
  width: 50%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 100px;
  position: absolute;
  top: 15%;
  z-index: 999;
}
.carousel-item .sobreIsa h2 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 23px;
  font-weight: bold;
}
.carousel-item .sobreIsa p {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.carousel-item .sobreIsa .bor {
  display: block;
  width: 110px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
.carousel-item .sobreIsa a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

#carouselExampleCaptions {
  background-color: var(--secondary);
}

.carousel-indicators li {
  width: 24%;
  height: auto;
  text-indent: unset;
  background: transparent;
}
.carousel-indicators li .tagBanner {
  border-left: 3px solid #fe5000;
}
.carousel-indicators li .tagBanner h4 {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.carousel-indicators li .tagBanner p {
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 10px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  list-style: none;
}

.bandera {
  position: relative;
}
.bandera img {
  position: absolute;
}
@media screen and (max-width: 500px) {
  .bandera img {
    width: 50%;
  }
}

.padSection {
  padding: 150px 0px;
}

.principalTexto {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: #003087;
  font-weight: bold;
}

.secundarioTexto {
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
}
.secundarioTexto a {
  font-weight: bold;
  color: #003087;
  font-size: 17px;
  text-decoration: none;
}

.circlegrupoisa img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .circlegrupoisa img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .circlegrupoisa img {
    width: 100%;
  }
}

.infoConoce h3 {
  color: #003087;
  font-size: 20px;
  font-weight: bold;
}
.infoConoce p {
  font-weight: 300;
  font-size: 18px;
}

.litleSpan {
  display: block;
  font-size: 14px;
  color: #fe5000;
  margin-bottom: 10px;
}

.bg-degradado-azul {
  background: linear-gradient(142.23deg, #009CFF -7.39%, #24135F 87.09%);
  border-radius: 31px;
  padding: 70px 30px;
  color: #ffffff;
}
@media screen and (max-width: 500px) {
  .bg-degradado-azul {
    margin-bottom: 10px;
  }
}
.bg-degradado-azul .txtwhite {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.bg-degradado-azul h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.bg-degradado-azul p {
  font-size: 16px;
  margin-bottom: 30px;
  width: 70%;
}

.procesoCurso {
  padding: 50px 0px 0px 0px;
}
@media screen and (max-width: 1024px) {
  .procesoCurso {
    padding: 0px 15px 0px 15px;
  }
}
@media screen and (max-width: 500px) {
  .procesoCurso {
    padding: 50px 15px 0px 15px;
  }
}
.procesoCurso h3 {
  color: #003087;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .procesoCurso h3 {
    margin-bottom: 10px;
  }
}
.procesoCurso p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .procesoCurso p {
    margin-bottom: 5px;
    font-size: 15px;
  }
}

.procesoImg img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .procesoImg img {
    width: 100%;
  }
}

.imgBannerGrupo {
  background-image: url("../img/bannergrupoisa.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 610px;
  background-size: cover;
  position: relative;
}
.imgBannerGrupo .texto-banner {
  position: absolute;
  top: 84px;
  width: 608px;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .imgBannerGrupo .texto-banner {
    width: 85%;
  }
}
.imgBannerGrupo .texto-banner h2 {
  font-weight: bold;
  font-size: 36px;
}
.imgBannerGrupo .texto-banner p {
  font-weight: 300;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .imgBannerGrupo .texto-banner p {
    font-size: 17px;
    text-align: justify;
  }
}

.mt-50 {
  margin-top: 100px;
}

.onda2 {
  background: url(../img/onda2.png);
  background-repeat: no-repeat;
  width: 244px;
  height: 800px;
  position: absolute;
  right: 0;
  top: 1400px;
}
@media screen and (max-width: 1024px) {
  .onda2 {
    display: none;
  }
}

.slick-slide {
  margin: 0 20px 0 20px;
}

.slider-center_item {
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.1);
  transition: 1s;
}
@media screen and (max-width: 500px) {
  .slider-center_item {
    height: 270px;
  }
}

.slick-center .slider-center_item {
  background: rgba(0, 0, 0, 0.4);
}

.bloqueazul {
  background: blue;
  position: absolute;
  width: 600px;
  height: 300px;
  right: 21px;
  bottom: 25px;
  color: #ffffff;
  border-radius: 40px;
  padding: 50px 40px;
  background: linear-gradient(104.7deg, #009cff 8.94%, #24135f 95.04%, rgba(254, 80, 0, 0.5) 100%);
}
@media screen and (max-width: 768px) {
  .bloqueazul {
    right: 120px;
  }
}
@media screen and (max-width: 500px) {
  .bloqueazul {
    width: 350px;
    height: 200px;
    padding: 20px 25px;
    bottom: 10px;
    right: 240px;
  }
}
@media screen and (max-width: 414px) {
  .bloqueazul {
    right: 280px;
  }
}
@media screen and (max-width: 375px) {
  .bloqueazul {
    right: 315px;
  }
}
@media screen and (max-width: 360px) {
  .bloqueazul {
    right: 322px;
  }
}
.bloqueazul .botoncarousel {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
  .bloqueazul .botoncarousel {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.bloqueazul h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .bloqueazul h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.bloqueazul p {
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  .bloqueazul p {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.paginator-center {
  position: relative;
  float: right;
  margin-bottom: 20px;
}
.paginator-center li {
  margin-top: 20px;
  position: relative;
  float: left;
}
.paginator-center .prev {
  display: block;
  height: 24px;
  width: 24px;
  margin-right: 70px;
  background: url("../img/back.png") no-repeat;
}
.paginator-center .next {
  display: block;
  height: 24px;
  width: 24px;
  background: url("../img/netx.png") no-repeat;
}

.container-arrow {
  display: block;
  width: 100%;
  position: relative;
  right: 11.5%;
}

.txtNoticia {
  font-size: 23px;
  font-weight: bold;
  color: #003087;
}

.imageNoticia img {
  display: block;
  width: 100%;
  height: auto;
}

.cardNoticia {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  background: linear-gradient(to right, #009cff 0%, #009cff 40%, #003087 60%, #fe5000 100%) left bottom #ffffff no-repeat;
  background-size: 100% 3px;
}
.cardNoticia h4 {
  font-size: 20px;
  color: #003087;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 15px;
}
.cardNoticia p {
  margin-bottom: 20px;
}

.cardNoticia2 {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  background: linear-gradient(to right, #009cff 0%, #009cff 40%, #003087 60%, #fe5000 100%) left bottom #ffffff no-repeat;
  background-size: 100% 3px;
}
.cardNoticia2 h4 {
  font-size: 16px;
  color: #003087;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 20px;
}

.categoriaNoticia {
  display: block;
  position: absolute;
  background: #009cff;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  top: 15px;
  left: 25px;
  padding: 2px 10px;
}

.categoriaNoticia2 {
  background: #009cff;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 10px;
}

.datoNoticia span {
  font-size: 12px;
  margin-right: 60px;
  text-transform: capitalize;
}

.bg-trabajos {
  background: #F8F8F8;
}

.txt24 {
  color: #003087;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.txtt16 {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
}

.tagTrabajos {
  display: block;
  position: absolute;
  top: 0px;
  width: 89.5%;
  height: 28px;
  background: #6ACF8E;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

.proyecto img {
  display: block;
  width: 100%;
  height: auto;
}

.cardProyecto {
  display: block;
  position: relative;
  top: -40px;
  width: 92%;
  height: 176px;
  background: #ffffff;
  padding-right: 12px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin: auto;
  background: linear-gradient(to right, #009cff 0%, #009cff 40%, #003087 60%, #fe5000 100%) left bottom #ffffff no-repeat;
  background-size: 100% 3px;
}
.cardProyecto h5 {
  font-size: 14px;
  font-weight: bold;
  color: #003087;
  height: 60px;
  margin-bottom: 12px;
}
.cardProyecto p {
  font-size: 12px;
  color: #c2c2c2;
  margin-bottom: 15px;
  font-weight: bold;
}
.cardProyecto span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #003087;
}

.txt16 {
  color: #003087;
  font-size: 16px;
  font-weight: bold;
}

.txt14 {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
}

.txtEnlace {
  text-decoration: underline;
  font-size: 12px;
  color: #4d4d4d;
}

.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom: 0;
  border-right: 1px solid #ddd;
  padding-right: 15px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: #ccc;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #007bff !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}

.tab-content > .active {
  display: block;
  background: #007bff;
  min-height: 165px;
}

.nav.nav-tabs {
  float: left;
  display: block;
  margin-right: 20px;
  border-bottom: 0;
  border-right: 1px solid transparent;
  padding-right: 15px;
}

.pl15 {
  padding-left: 30px;
}

.banner1 {
  position: relative;
  background: url("../img/acercadegrupoisa.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 289px;
}
.banner1 .texto1 {
  width: 550px;
  position: absolute;
  top: 90px;
}
@media screen and (max-width: 500px) {
  .banner1 .texto1 {
    width: 310px;
    left: 30px;
  }
}
.banner1 .texto1 h2 {
  color: #003087;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .banner1 .texto1 h2 {
    text-align: center;
  }
}
.banner1 .texto1 p {
  font-size: 17px;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  .banner1 .texto1 p {
    text-align: center;
  }
}

.banner2 {
  position: relative;
  background: url("../img/eticaempresarial.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 289px;
}
.banner2 .texto1 {
  width: 550px;
  position: absolute;
  top: 90px;
}
@media screen and (max-width: 500px) {
  .banner2 .texto1 {
    width: 310px;
    left: 30px;
  }
}
.banner2 .texto1 h2 {
  color: #003087;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .banner2 .texto1 h2 {
    text-align: center;
  }
}
.banner2 .texto1 p {
  font-size: 17px;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  .banner2 .texto1 p {
    text-align: center;
  }
}

.breadcrumb {
  background: #fff;
  padding: 0;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .breadcrumb {
    justify-content: center;
  }
}
.breadcrumb li a {
  color: rgba(0, 48, 135, 0.5) !important;
}

.breadcrumb-item.active {
  color: #003087;
  font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #fe5000;
  content: ">";
}

.bg-gris {
  background: #f8f8f8;
  padding-right: 0px;
}
@media screen and (max-width: 768px) {
  .bg-gris {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .bg-gris {
    margin-bottom: 30px;
  }
}

.links {
  padding: 50px 0 0 0;
}
.links ul {
  list-style: none;
  padding-inline-start: 0px;
}
.links ul li a {
  display: block;
  color: #003087;
  font-weight: 400;
  margin-bottom: 24px;
  text-decoration: none;
  font-size: 14px;
  padding-left: 40px;
}
.links ul li a:hover {
  color: #33599f;
}
.links ul li .active {
  font-weight: bold;
  background: #dadada;
  border-left: 3px solid #fe5000;
  padding: 20px 0px 20px 40px;
}

.t1 h2 {
  color: #003087;
  font-weight: bold;
  margin-bottom: 20px;
}
.t1 p {
  margin-bottom: 20px;
}

.t2 p {
  font-weight: bold;
  color: #003087;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.t3 p {
  font-weight: bold;
  color: #003087;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.bg-1 {
  background: #003087;
  padding: 25px;
  border-radius: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}
.bg-1 h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}
.bg-1 h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}
.bg-1 p {
  font-weight: 300;
}

.bg-2 {
  background: #009cff;
  padding: 25px;
  border-radius: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}
.bg-2 h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}
.bg-2 h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}
.bg-2 p {
  font-weight: 300;
}

.bg-3 {
  background: #fe5000;
  padding: 25px;
  border-radius: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}
.bg-3 h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}
.bg-3 h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
}
.bg-3 p {
  font-weight: 300;
}

.c1 {
  display: block;
  width: 130px;
  height: 130px;
  border: 5px solid #fe5000;
  border-radius: 50%;
  padding: 20px 15px 15px 15px;
  color: #003087;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .c1 {
    margin-bottom: 15px;
  }
}
.c1 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}
.c1 p {
  text-align: center;
  font-size: 14px;
  line-height: 13px;
}

.c2 {
  display: block;
  width: 130px;
  height: 130px;
  border: 5px solid #fe5000;
  border-radius: 50%;
  padding: 20px 15px 15px 15px;
  color: #003087;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .c2 {
    margin-bottom: 15px;
  }
}
.c2 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}
.c2 p {
  text-align: center;
  font-size: 14px;
  line-height: 13px;
}

.c3 {
  display: block;
  width: 130px;
  height: 130px;
  border: 5px solid #fe5000;
  border-radius: 50%;
  padding: 20px 15px 15px 15px;
  color: #003087;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .c3 {
    margin-bottom: 15px;
  }
}
.c3 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}
.c3 p {
  text-align: center;
  font-size: 14px;
  line-height: 13px;
}

.bordeNaranja {
  border-right: 1px solid #fe5000;
}

.t4 {
  color: #4d4d4d;
}
.t4 h4 {
  text-align: center;
  font-weight: bold;
}
.t4 p {
  text-align: center;
}

.t5 {
  color: #4d4d4d;
}
.t5 h4 {
  text-align: center;
  font-weight: bold;
}
.t5 p {
  text-align: center;
}

.t6 {
  color: #4d4d4d;
}
.t6 h4 {
  text-align: center;
  font-weight: bold;
}
.t6 p {
  text-align: center;
}

.t7 {
  margin-top: 50px;
}
.t7 h3 {
  color: #003087;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
.t7 h3 span {
  font-weight: 300;
}
.t7 img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.t8 h2 {
  color: #003087;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}
.t8 p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}

.t9 span {
  font-weight: bold;
}

.bordeContacto {
  border-top: 1px solid #dadada;
}

.e-1 h4 {
  font-weight: bold;
  color: #003087;
  font-size: 24px;
  margin-bottom: 25px;
}
.e-1 p {
  font-size: 16px;
  font-weight: 400;
}
.e-1 img {
  display: block;
  width: 547px;
  height: 461;
  margin: 50px auto;
}

.e-2 h4 {
  font-weight: bold;
  color: #003087;
  font-size: 24px;
  margin-bottom: 25px;
}
.e-2 p {
  font-size: 16px;
  font-weight: 400;
}

.bg-e {
  background: #f8f8f8;
  padding: 25px;
  border-radius: 30px;
}
.bg-e h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: #fe5000;
}
.bg-e p {
  font-weight: 400;
  margin-bottom: 15px;
}
.bg-e .ball {
  margin-bottom: 15px;
}
.bg-e .ball span {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #fe5000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  margin-right: 10px;
}
.bg-e .ball .balltxt b {
  font-weight: bold;
  color: #003087;
  margin-right: 5px;
}

/*# sourceMappingURL=style-rep.css.map */
