@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4d4d4d;
}

.barMenu {
  font-size: 14px;
}
.barMenu a {
  color: #003087;
  margin-left: 20px;
}
.barMenu a:nth-last-child(1) {
  margin-left: 0;
}
.barMenu span {
  display: inline-block;
  width: 2px;
  height: 15px;
  background: #fe5000;
  margin: 0px 20px;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  color: #003087;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 105px;
  height: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 0px 0px 0px;
  z-index: 1;
  text-align: center;
  border: 1px solid #003087;
  border-radius: 20px;
  color: #003087;
}
.dropdown-content2 a {
  text-decoration: none;
}
.dropdown-content2:hover {
  color: #33599f;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.padXX {
  padding: 50px 0px;
}

.btn-primario {
  display: block;
  height: 40px;
  text-align: center;
  color: #003087;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 50px;
  border: 2px solid #003087;
}
.btn-primario:hover {
  color: #33599f;
}
.btn-primario:active {
  border: 1px solid #fe5000;
  color: #33599f;
}
.btn-primario:focus {
  outline: 0;
  box-shadow: none;
}
.btn-primario:target {
  border: 1px solid #fe5000;
  color: #33599f;
}

.btn-secundario-azul {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  background: #003087;
  border-radius: 50px;
  border: 2px solid #003087;
}
.btn-secundario-azul:hover {
  background: #33599f;
  color: #ffffff;
  border: 2px solid #33599f;
}
.btn-secundario-azul:active {
  background: #ffffff;
  border: 2px solid #003087;
  color: #003087;
}
.btn-secundario-azul:focus {
  outline: 0;
  box-shadow: none;
}
.btn-secundario-azul:target {
  background: #ffffff;
  border: 2px solid #003087;
  color: #003087;
}

.btn-secundario-naranja {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  background: #fe5000;
  border-radius: 50px;
  border: 2px solid #fe5000;
}
.btn-secundario-naranja:hover {
  background: #fe7333;
  color: #ffffff;
  border: 2px solid #fe7333;
}
.btn-secundario-naranja:active {
  background: #ffffff;
  border: 2px solid #fe5000;
  color: #fe5000;
}
.btn-secundario-naranja:focus {
  outline: 0;
  box-shadow: none;
}
.btn-secundario-naranja:target {
  background: #ffffff;
  border: 2px solid #fe5000;
  color: #fe5000;
}

.btn-primario-disabled {
  display: block;
  height: 40px;
  text-align: center;
  color: #dadada;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 50px;
}

.btn-secundario-disabled {
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  padding: 0px 30px;
  font-size: 17px;
  font-weight: 400;
  background: #dadada;
  border-radius: 50px;
  border: 2px solid #dadada;
}

.pie {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: linear-gradient(166.01deg, #009CFF 10.94%, #24135F 76.04%, #FE5000 97.92%), #003087;
}

.nav-pie {
  font-size: 10px !important;
  color: #ffffff !important;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #menu-button {
  display: none;
}

#cssmenu {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
}

#cssmenu > ul > li {
  float: left;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}

#cssmenu.align-center ul ul {
  text-align: left;
}

#cssmenu.align-right > ul > li {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #003087;
  font-weight: normal;
}

#cssmenu > ul > li:hover > a {
  color: #ffffff;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: "";
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}

#cssmenu.align-right ul ul {
  text-align: right;
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#cssmenu li:hover > ul > li {
  height: 35px;
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: "";
}

#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: "";
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }

  #cssmenu ul {
    width: 100%;
    display: none;
  }

  #cssmenu.align-center > ul {
    text-align: left;
  }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }

  #cssmenu ul ul li,
#cssmenu li:hover > ul > li {
    height: auto;
  }

  #cssmenu ul li a,
#cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }

  #cssmenu > ul > li {
    float: none;
  }

  #cssmenu ul ul li a {
    padding-left: 25px;
  }

  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }

  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }

  #cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
    color: #ffffff;
  }

  #cssmenu ul ul,
#cssmenu ul ul ul,
#cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  #cssmenu > ul > li.has-sub > a:after,
#cssmenu > ul > li.has-sub > a:before,
#cssmenu ul ul > li.has-sub > a:after,
#cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }

  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }

  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: "";
  }

  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: "";
  }

  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }

  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }

  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: "";
  }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }

  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: "";
  }

  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }

  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
.imgBanner {
  background-image: linear-gradient(122.76deg, rgba(0, 156, 255, 0.34) 2.9%, rgba(36, 19, 95, 0.34) 83.89%, rgba(254, 80, 0, 0.34) 100.78%), url("/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 514px;
}

#sobre.sobreIsa {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 100px;
}
#sobre.sobreIsa h2 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 23px;
  font-weight: bold;
}
#sobre.sobreIsa p {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
#sobre.sobreIsa span {
  display: block;
  width: 110px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}
#sobre.sobreIsa a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.tagBanner {
  border-left: 3px solid rgba(255, 255, 255, 0.7);
}
.tagBanner a label {
  font-weight: bold;
  color: #ffffff;
}
.tagBanner a p {
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 0;
}

.active {
  border-left: 3px solid #fe5000;
}

.bandera {
  display: block;
  position: absolute;
  z-index: -1px;
  width: 100%;
  height: auto;
}

.padSection {
  padding: 150px 0px;
}

.principalTexto {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: #003087;
  font-weight: bold;
}

.secundarioTexto {
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
}
.secundarioTexto a {
  font-weight: bold;
  color: #003087;
  font-size: 17px;
  text-decoration: none;
}

#itemCarou img {
  display: block;
}
#itemCarou .informacion {
  display: block;
  position: relative;
  background: linear-gradient(122.76deg, rgba(0, 156, 255, 0.34) 2.9%, rgba(36, 19, 95, 0.34) 83.89%, rgba(254, 80, 0, 0.34) 100.78%), #003087;
}

.txtNoticia {
  font-size: 23px;
  font-weight: bold;
  color: #003087;
}

.imageNoticia img {
  display: block;
  width: 100%;
  height: auto;
}

.cardNoticia {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  background: linear-gradient(to right, #009cff 0%, #009cff 40%, #003087 60%, #fe5000 100%) left bottom #ffffff no-repeat;
  background-size: 100% 3px;
}
.cardNoticia h4 {
  font-size: 20px;
  color: #003087;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 15px;
}
.cardNoticia p {
  margin-bottom: 20px;
}

.cardNoticia2 {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 3px;
  background: linear-gradient(to right, #009cff 0%, #009cff 40%, #003087 60%, #fe5000 100%) left bottom #ffffff no-repeat;
  background-size: 100% 3px;
}
.cardNoticia2 h4 {
  font-size: 16px;
  color: #003087;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 20px;
}

.categoriaNoticia {
  display: block;
  position: absolute;
  background: #009cff;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  top: 15px;
  left: 25px;
  padding: 2px 10px;
}

.categoriaNoticia2 {
  background: #009cff;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 10px;
}

.datoNoticia span {
  font-size: 12px;
  margin-right: 60px;
  text-transform: capitalize;
}

.bg-trabajos {
  background: #F8F8F8;
}

.txt24 {
  color: #003087;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.txtt16 {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
}

.tagTrabajos {
  display: block;
  position: absolute;
  top: 0px;
  width: 89.5%;
  height: 28px;
  background: #6ACF8E;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

.proyecto img {
  display: block;
  width: 100%;
  height: auto;
}

.cardProyecto {
  display: block;
  position: relative;
  top: -40px;
  width: 92%;
  height: 176px;
  background: #ffffff;
  padding-right: 12px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin: auto;
  background: linear-gradient(to right, #009cff 0%, #009cff 40%, #003087 60%, #fe5000 100%) left bottom #ffffff no-repeat;
  background-size: 100% 3px;
}
.cardProyecto h5 {
  font-size: 14px;
  font-weight: bold;
  color: #003087;
  height: 60px;
  margin-bottom: 12px;
}
.cardProyecto p {
  font-size: 12px;
  color: #c2c2c2;
  margin-bottom: 15px;
  font-weight: bold;
}
.cardProyecto span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #003087;
}

.txt16 {
  color: #003087;
  font-size: 16px;
  font-weight: bold;
}

.txt14 {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
}

.txtEnlace {
  text-decoration: underline;
  font-size: 12px;
  color: #4d4d4d;
}

/*# sourceMappingURL=style-rep.css.map */
