.nav.nav-tabs 
    float: left
    display: block
    margin-right: 20px
    border-bottom:0
    border-right: 1px solid #ddd
    padding-right: 15px

.nav-tabs .nav-link 
    border: 1px solid transparent
    border-top-left-radius: .25rem
    border-top-right-radius: .25rem
    background: #ccc


.nav-tabs .nav-link.active 
    color: #495057
    background-color:#007bff !important
    border-color: transparent !important

.nav-tabs .nav-link 
    border: 1px solid transparent
    border-top-left-radius: 0rem!important
    border-top-right-radius: 0rem!important

.tab-content>.active 
    display: block
    background: #007bff
    min-height: 165px

.nav.nav-tabs 
    float: left
    display: block
    margin-right: 20px
    border-bottom: 0
    border-right: 1px solid transparent
    padding-right: 15px

.pl15
    padding-left: 30px

.banner1
    position: relative
    background: url('../img/acercadegrupoisa.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 289px
    .texto1
        width: 550px
        position: absolute
        top: 90px
        @media screen and ( max-width: 500px )
            width: 310px
            left: 30px  
        h2
            color: $azul-primario
            font-weight: bold
            font-size: 26px
            margin-bottom: 40px
            @media screen and ( max-width: 500px )
                text-align: center
        p
            font-size: 17px
            font-weight: 400
            @media screen and ( max-width: 500px )
                text-align: center

.banner2
    position: relative
    background: url('../img/eticaempresarial.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 289px
    .texto1
        width: 550px
        position: absolute
        top: 90px
        @media screen and ( max-width: 500px )
            width: 310px
            left: 30px  
        h2
            color: $azul-primario
            font-weight: bold
            font-size: 26px
            margin-bottom: 40px
            @media screen and ( max-width: 500px )
                text-align: center
        p
            font-size: 17px
            font-weight: 400
            @media screen and ( max-width: 500px )
                text-align: center

.breadcrumb
    background: #fff
    padding: 0
    font-weight: bold
    @media screen and ( max-width: 500px )
        justify-content: center
    li
        a
            color: rgba(0, 48, 135, 0.5) !important

.breadcrumb-item.active 
    color: $azul-primario
    font-weight: bold

.breadcrumb-item+.breadcrumb-item::before
    display: inline-block
    padding-right: .5rem
    color: $naranja-primario
    content: ">"

.bg-gris    
    background: $plomo-secundario
    padding-right: 0px
    @media screen and ( max-width: 768px )
        margin-bottom: 30px
    @media screen and ( max-width: 500px )
        margin-bottom: 30px

.links
    padding: 50px 0 0 0
    // height: calc(100% - 100px)
    // background: red
    ul
        list-style: none
        padding-inline-start: 0px
        li
            a
                display: block
                color: $azul-primario
                font-weight: 400
                margin-bottom: 24px
                text-decoration: none
                font-size: 14px
                padding-left: 40px
                &:hover
                    color: $azul-secundario
            .active
                font-weight: bold
                background: $plomo-primario
                border-left: 3px solid $naranja-primario
                padding: 20px 0px 20px 40px

.t1
    h2
        color: $azul-primario
        font-weight: bold
        margin-bottom: 20px
    p
        margin-bottom: 20px
.t2
    p
        font-weight: bold
        color: $azul-primario
        font-size: 20px
        margin-top: 60px
        margin-bottom: 30px
.t3
    p
        font-weight: bold
        color: $azul-primario
        font-size: 20px
        margin-top: 60px
        margin-bottom: 50px



.bg-1
    background: $azul-primario
    padding: 25px
    border-radius: 30px
    color: $blanco
    margin-bottom: 10px
    h3
        text-align: center
        font-size: 20px
        margin-bottom: 40px
        font-weight: bold
    h5
        font-weight: bold
        font-size: 16px
        margin-bottom: 40px
    p
        font-weight: 300
        
.bg-2
    background: $celeste-primario
    padding: 25px
    border-radius: 30px
    color: $blanco
    margin-bottom: 10px
    h3
        text-align: center
        font-size: 20px
        margin-bottom: 40px
        font-weight: bold
    h5
        font-weight: bold
        font-size: 16px
        margin-bottom: 40px
    p
        font-weight: 300
           

.bg-3
    background: $naranja-primario
    padding: 25px
    border-radius: 30px
    color: $blanco
    margin-bottom: 10px
    h3
        text-align: center
        font-size: 20px
        margin-bottom: 40px
        font-weight: bold
    h5
        font-weight: bold
        font-size: 16px
        margin-bottom: 40px
    p
        font-weight: 300
           


.c1
    display: block
    width: 130px
    height: 130px
    border: 5px solid $naranja-primario
    border-radius: 50%
    padding: 20px 15px 15px 15px
    color: $azul-primario
    margin: auto
    @media screen and ( max-width: 500px )   
        margin-bottom: 15px
    h4
        text-align: center
        font-weight: bold
        font-size: 30px
        margin-bottom: 5px
    p
        text-align: center
        font-size: 14px
        line-height: 13px

.c2
    display: block
    width: 130px
    height: 130px
    border: 5px solid $naranja-primario
    border-radius: 50%
    padding: 20px 15px 15px 15px
    color: $azul-primario
    margin: auto
    @media screen and ( max-width: 500px )   
        margin-bottom: 15px
    h4
        text-align: center
        font-weight: bold
        font-size: 30px
        margin-bottom: 5px
    p
        text-align: center
        font-size: 14px
        line-height: 13px

.c3
    display: block
    width: 130px
    height: 130px
    border: 5px solid $naranja-primario
    border-radius: 50%
    padding: 20px 15px 15px 15px
    color: $azul-primario
    margin: auto
    @media screen and ( max-width: 500px )   
        margin-bottom: 15px
    h4
        text-align: center
        font-weight: bold
        font-size: 30px
        margin-bottom: 5px
    p
        text-align: center
        font-size: 14px
        line-height: 13px     


.bordeNaranja
    border-right: 1px solid $naranja-primario

.t4
    color: $texto-color
    h4
        text-align: center
        font-weight: bold
    p
        text-align: center

.t5
    color: $texto-color
    h4
        text-align: center
        font-weight: bold
    p
        text-align: center

.t6
    color: $texto-color
    h4
        text-align: center
        font-weight: bold
    p
        text-align: center        

.t7
    margin-top: 50px
    h3
        color: $azul-primario
        font-size: 20px
        font-weight: bold
        margin-bottom: 50px
        span
            font-weight: 300
    img
        width: 100%
        height: auto
        margin-bottom: 20px

.t8
    h2
        color: $azul-primario
        font-size: 23px
        font-weight: bold
        margin-bottom: 20px
        margin-top: 50px
    p 
        font-size: 16px
        font-weight: 400
        margin-bottom: 60px

.t9
    span
        font-weight: bold 

.bordeContacto
    border-top: 1px solid $plomo-primario


//etica empresarial

.e-1
    h4
        font-weight: bold
        color: $azul-primario
        font-size: 24px
        margin-bottom: 25px
    p
        font-size: 16px
        font-weight: 400
    img
        display: block
        width: 547px
        height: 461px
        margin: 50px auto
        @media screen and ( max-width: 500px)
            width: 100%
            height: auto
            

.e-2
    h4
        font-weight: bold
        color: $azul-primario
        font-size: 24px
        margin-bottom: 25px
    p
        font-size: 16px
        font-weight: 400

.e-3
    h2 
        color: $azul-primario
        font-weight: bold
        font-size: 24px
        margin-bottom: 22px
    span
        font-weight: bold
        color: $naranja-primario
        font-size: 20px
        margin-bottom: 35px

.e-4
    h3
        font-weight: bold
        color: $azul-primario
        margin-bottom: 30px
        font-size: 24px
    p
        margin-bottom: 50px

.e-5
    h3
        font-weight: bold
        color: $azul-primario
        margin-bottom: 28px
    p 
        margin-bottom: 50px

.e-6
    h4
        font-weight: bold
        color: $azul-primario
        margin-bottom: 22px
        font-size: 20px
    p
        font-weight: 400
        margin-bottom: 50px
    



.imgetica
    img
        width: 100%
        height: auto
        @media screen and ( max-width: 1024px  )
            width: 100%
            height: auto
        

.bg-e
    background: $plomo-secundario
    padding: 25px
    border-radius: 30px
    margin-bottom: 40px
    h4
        font-weight: bold
        font-size: 20px
        margin-bottom: 20px
        color: $naranja-primario
    p
        font-weight: 400
        margin-bottom: 15px
    .ball
        margin-bottom: 15px
        span
            display: flex
            flex: none
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            background: $naranja-primario
            color: $blanco
            font-weight: bold
            border-radius: 50%
            font-size: 16px
            padding: 3px
            text-align: center
            margin-right: 10px
        .balltxt
            b
                font-weight: bold
                color: $azul-primario
                margin-right: 5px

.revisar
    a
        font-weight: bold
        font-size: 16px
        display: block
        color: $naranja-primario
        margin-bottom: 70px

.bg-celeste
    background: $celeste-secundario
    padding: 20px 40px
    border-radius: 30px
    margin-bottom: 50px
    .interno
        span
            display: block
            width: 48px
            height: 48px
            background: $blanco
            border-radius: 50px
            padding: 5px
            margin: auto
            margin-top: 40px
            margin-bottom: 40px
            font-size: 24px
            font-weight: bold
            text-align: center
            
            color: $celeste-secundario

        p
            color: $blanco
            font-weight: 300
            font-size: 16px
    .bordeInterno
        border-right: 1px solid $azul-primario 