#itemCarou
    img
        display: block
    .informacion
        display: block
        position: relative
        background: linear-gradient(122.76deg, rgba(0, 156, 255, 0.34) 2.9%, rgba(36, 19, 95, 0.34) 83.89%, rgba(254, 80, 0, 0.34) 100.78%), $azul-primario
