body
    font-family: $font-family
    font-size: 16px
    color: $texto-color

//header
.barMenu
    font-size: 14px
    a
        color: $azul-primario
        margin-left: 20px
        &:nth-last-child(1)
            margin-left: 0
            
    span
        display: inline-block
        width: 2px
        height: 15px
        background: $naranja-primario
        margin: 0px 20px

.dropdown2
  position: relative
  display: inline-block
  color: $azul-primario

.dropdown-content2
    display: none
    position: absolute
    background-color: #fff
    min-width: 105px
    height: 35px
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    padding: 5px 0px 0px 0px
    z-index: 1
    text-align: center
    border: 1px solid $azul-primario
    border-radius: 20px
    color: $azul-primario
    a
        text-decoration: none
    &:hover
        color: $azul-secundario

.dropdown2:hover .dropdown-content2
  display: block





//fin menu


.padXX
    padding: 50px 0px

.btn-primario
    display: block
    //width: 100%
    height: 40px
    text-align: center
    color: $azul-primario
    padding: 0px 30px
    font-size: 17px
    font-weight: 400
    border-radius: 50px
    border: 2px solid $azul-primario
    &:hover
        color: $azul-secundario
    &:active
        border: 1px solid $naranja-primario
        color: $azul-secundario
    &:focus
        outline: 0
        box-shadow: none
    &:target
        border: 1px solid $naranja-primario
        color: $azul-secundario

.btn-secundario-azul
    display: block
    //width: 100%
    height: 40px
    text-align: center
    color: $blanco
    padding: 0px 30px
    font-size: 17px
    font-weight: 400
    background: $azul-primario
    border-radius: 50px
    border: 2px solid $azul-primario
    &:hover
        background: $azul-secundario
        color: $blanco
        border: 2px solid $azul-secundario
    &:active
        background: $blanco
        border: 2px solid $azul-primario
        color: $azul-primario
    &:focus
        outline: 0
        box-shadow: none
    &:target
        background: $blanco
        border: 2px solid $azul-primario
        color: $azul-primario

.btn-secundario-naranja
    display: block
    //width: 100%
    height: 40px
    text-align: center
    color: $blanco
    padding: 0px 30px
    font-size: 17px
    font-weight: 400
    background: $naranja-primario
    border-radius: 50px
    border: 2px solid $naranja-primario
    &:hover
        background: $naranja-secundario
        color: $blanco
        border: 2px solid $naranja-secundario
    &:active
        background: $blanco
        border: 2px solid $naranja-primario
        color: $naranja-primario
    &:focus
        outline: 0
        box-shadow: none
    &:target
        background: $blanco
        border: 2px solid $naranja-primario
        color: $naranja-primario


.btn-primario-disabled
    display: block
    //width: 100%
    height: 40px
    text-align: center
    color: $plomo-primario
    padding: 0px 30px
    font-size: 17px
    font-weight: 400
    border-radius: 50px


.btn-secundario-disabled
    display: block
    //width: 100%
    height: 40px
    text-align: center
    color: $blanco
    padding: 0px 30px
    font-size: 17px
    font-weight: 400
    background: $plomo-primario
    border-radius: 50px
    border: 2px solid $plomo-primario






//footer

.pie
    display: flex
    align-items: center
    width: 100%
    height: 60px
    background: linear-gradient(166.01deg, #009CFF 10.94%, #24135F 76.04%, #FE5000 97.92%), $azul-primario

.nav-pie
    font-size: 10px !important
    color: $blanco !important
                
    
