.bandera
    display: block
    position: absolute
    z-index: -1px
    width: 100%
    height: auto

// #grupoisa .container
//     height: 600px

.padSection
    padding: 150px 0px

.principalTexto
    font-size: 30px
    font-family: $font-family
    color: $azul-primario
    font-weight: bold

.secundarioTexto
    font-size: 16px
    font-weight: 400
    color: $texto-color
    a
        font-weight: bold
        color: $azul-primario
        font-size: 17px
        text-decoration: none

