
.menuIndex
  z-index: 9999999

// .dropdown:hover>.dropdown-menu 
//   display: block

.dropdown-toggle::after
  display: none
   
// .dropdown>.dropdown-toggle:active 
//   pointer-events: none


.navbar-expand-lg .navbar-nav .nav-link
  @media (min-width: 992px)
    padding-right: 1.2rem
    padding-left: 1.2rem

.barMenu
  @media (max-width: 900px)
    display: none

.btnToggler
  @media (max-width: 900px)
  .positionBtn
    position: absolute
    top: -68px
    right: 25px


.navbar-light .navbar-toggler 
    color: $azul-primario
    border-color: transparent

.navbar
    padding: .5rem 0rem
    li
      a
        @media (max-width: 900px)
          display: block
          text-align: center
          margin-bottom: 15px

// .activeBar
//   display: flex
//   justify-content: center
//   border-bottom: 5px solid $naranja-primario
//   width: 90%
//   padding-bottom: 4px

.navbar-light .navbar-nav .nav-link 
    color: $azul-primario
    font-weight: 400


.dropdown-menu 
    position: absolute
    top: 100%
    left: 0
    z-index: 1000
    display: none
    float: left
    //min-width: 10rem
    padding: 0rem 1rem
    // margin: .125rem 0 0
    font-size: 14px
    text-align: left
    list-style: none
    background-color: $azul-primario
    background-clip: padding-box
    border-radius: 0
    border-top: 3px solid $naranja-primario
    margin-top: 10px
    .dropdown-item 
      display: block
      width: 100%
      padding: 1.5rem .5rem
      clear: both
      font-weight: 400
      color: $blanco
      text-align: inherit
      white-space: nowrap
      background-color: transparent
      border-bottom: 1px solid $azul-secundario
      margin: auto
      &:hover
        color:#fe5000
      


.cntr 
  display: table
  width: 100%
  height: 100%

.cntr .cntr-innr 
  display: table-cell
  text-align: center
  vertical-align: middle


.search 
  display: inline-block
  position: relative
  height: 20px
  width: 20px
  box-sizing: border-box
  margin: 0px 8px 7px 0px
  padding: 7px 9px 0px 9px
  border: 3px solid #000000
  border-radius: 30px
  transition: all 200ms ease
  cursor: text

.search:after 
  content: ""
  position: absolute
  width: 3px
  height: 10px
  right: -5px
  top: 21px
  background: #000000
  border-radius: 3px
  -webkit-transform: rotate(-45deg)
          transform: rotate(-45deg)
  transition: all 200ms ease

.search.active,
.search:hover 
  width: 200px
  margin-right: 0px

.search.active:after,
.search:hover:after 
  height: 0px

.search input 
  width: 100%
  border: none
  box-sizing: border-box
  font-family: Helvetica
  font-size: 15px
  color: inherit
  background: transparent
  outline-width: 0px

